@import '../../base';

.videoMetaData{
    &__top{
        span{
            cursor: pointer;
        }
    }
    &__channel{
        border-top: 0.2px solid $border-color;
        border-bottom: 0.2px solid $border-color;

        img{
            height: 50px
        }

        button{
            text-transform: uppercase;
            background-color: rgb(211, 9, 9);
            color:#fff;
            font-weight: 800;
            font-size: 13px;
            padding:0 1rem;
            border-radius: 2px;
            letter-spacing: 0.5px;
            font-family: 'Roboto',sans-serif;
           
            &.btn-gray{
                background-color:rgb(68, 68, 68);
            }
            &:hover{
                color:white;

            }
            &:focus{
                border: none;
                outline: none;     
            }
        }
       
    }
    &__description {
        font-size: 0.9rem;
        white-space: pre-line;
        border-bottom: 0.2px solid $border-color;

        .showMoreText {
           text-decoration: none;
           display: block;
           margin: 1rem 0;
           color: #fff;
           font-weight: 500;
        }
    }
}